# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [29]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as soup
linklist = []
seasonnum = 1
url = "https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)"

data = requests.get(url)
print(data.status_code)
data = soup(data.text, 'html.parser')
mainTable = data.find('table', {'class': 'wikitable plainrowheaders'})
bruh = mainTable.find_all('a', {'class': 'mw-redirect'})
print(bruh)
for i in bruh:
    href = i.get('href')
    linklist.append(href)
#Link finder and libraries

200
[<a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_1)" title="The Bachelor (American season 1)">1</a>, <a class="mw-redirect" href="/wiki/Alex_Michel" title="Alex Michel">Alex Michel</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_2)" title="The Bachelor (American season 2)">2</a>, <a class="mw-redirect" href="/wiki/Aaron_Buerge" title="Aaron Buerge">Aaron Buerge</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_5)" title="The Bachelor (American season 5)">5</a>, <a class="mw-redirect" href="/wiki/Travis_Lane_Stork" title="Travis Lane Stork">Travis Lane Stork</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_9)" title="The Bachelor (American season 9)">9</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_10)" title="The Bachelor (American season 10)">10</a>, <a class="mw-redirect" href="/wiki/Andy_Baldwin" title="Andy Baldwin">Andy Baldwin</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_11)" title="The Bachelor (American season 11)">11</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_12)" title="The Bachelor (American season 12)">12</a>, <a class="mw-redirect" href="/wiki/Matt_Grant" title="Matt Grant">Matt Grant</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_13)" title="The Bachelor (American season 13)">13</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_14)" title="The Bachelor (American season 14)">14</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_15)" title="The Bachelor (American season 15)">15</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_16)" title="The Bachelor (American season 16)">16</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_17)" title="The Bachelor (American season 17)">17</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_18)" title="The Bachelor (American season 18)">18</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_19)" title="The Bachelor (American season 19)">19</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_20)" title="The Bachelor (American season 20)">20</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_21)" title="The Bachelor (American season 21)">21</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_22)" title="The Bachelor (American season 22)">22</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_23)" title="The Bachelor (American season 23)">23</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_24)" title="The Bachelor (American season 24)">24</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_25)" title="The Bachelor (American season 25)">25</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_26)" title="The Bachelor (American season 26)">26</a>, <a class="mw-redirect" href="/wiki/The_Bachelor_(American_season_27)" title="The Bachelor (American season 27)">27</a>]

In [30]:
def tablefinder(link):
    url = link
    data = requests.get(url)
    print(data.status_code)
    data = soup(data.text, 'html.parser')
    table = data.find('table', {'class': 'wikitable sortable'})

    if table:
        rows = table.find_all('tr')
        tabledata = [] #Initilize the list to store my table information
        headers = [th.text.strip() for th in rows[0].find_all('th')]# Find the header names in the header row

        for row in rows[1:]:
            cols = row.find_all('td')
            if cols:
                tabledata.append([col.text.strip() for col in cols])

        tableSet = pd.DataFrame(tabledata, columns=headers)
        print(tableSet.head())

    else:
        print("table not found")

## This is essentilly making the table in a site into a readable dataframe through pd

In [31]:
tablefinder("https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_2")

200
                 Name Age                    Hometown                  Job  \
0  Helene Eksterowicz  27      Gloucester, New Jersey  School Psychologist
1        Brooke Smith  22        Albertville, Alabama      College Student
2          Gwen Gioia  31  Philadelphia, Pennsylvania  Executive Recruiter
3       Angela Vaught  27       Kansas City, Missouri     Registered Nurse
4   Hayley Crittenden  28         Lake Oswego, Oregon       Retail Manager

  Eliminated
0     Winner
1  Runner-up
2     Week 6
3     Week 5
4     Week 4

In [32]:
new_data = []
for i in linklist:
    url = (f"https://en.wikipedia.org/{i}")
    if "season" in url:
        print("True")
        data = requests.get(url)
        print(data.status_code)
        data = soup(data.text, 'html.parser')
        table = data.find('table', {'class': 'wikitable sortable'})

        if table:
            rows = table.find_all('tr')
            tabledata = [] #Initilize the list to store my table information
            headers = [th.text.strip() for th in rows[0].find_all('th')]# Find the header names in the header row

            for row in rows[1:]:
                cols = row.find_all('td')
                if cols:
                    tabledata.append([col.text.strip() for col in cols])
            tableSet = pd.DataFrame(tabledata, columns=headers)
            new_data.append(tableSet)
            

        else:
            print("table not found")

True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200
True
200

In [33]:
len(new_data)

22

In [34]:
new_data[len(new_data) - 1]

,Name,Age,Hometown,Occupation,Outcome,Place,Ref
0,"Kaitlyn ""Kaity"" Biggar[21]",27,"Kingston, Ontario",Travel Nurse,Winner,1,[22]
1,"Gabriella ""Gabi"" Elnicki[23]",25,"Pittsford, Vermont",Senior Account Executive,Runner-Up,2,None
2,Ariel Frenkel[10][24],28,"Manhattan, New York",Marketing Executive,Week 9,3,[25]
3,Charity Lawson[26],26,"Columbus, Georgia",Child and Family Therapist,Week 8,4,[27]
4,Katherine Izzo[28],26,"Tampa, Florida",Registered Nurse,Week 7,5,[29]
5,Brooklyn Willie[6][30],25,"Mineola, Texas",Rodeo Racer,6,None,None
6,Greer Blitzer[31],24,"Bellaire, Texas",Medical Sales Representative,7,None,None
7,"Alyssa ""Aly"" Jacobs[32][33]",26,"Smyrna, Georgia",Healthcare Strategist,Week 6,8,[34]
8,"Jessica ""Jess"" Girod[33]",23,"Winter Springs, Florida",E-Commerce Coordinator,9,None,None
9,Kylee Russell[35][36],25,"Charlotte, North Carolina",Postpartum Nurse,Week 5,10-11,[16]
10,Mercedes Northup[37],24,"Bloomfield, Iowa",Nonprofit Case Manager,None,None,None
11,Davia Bunch[8],25,"Roebuck, South Carolina",Marketing Manager,Week 4,12–13,[38]
12,Genevie Mayo[39][40],26,"Joppa, Maryland",Neonatal Nurse,None,None,None
13,Anastasia Keramidas[39],30,"Baltimore, Maryland",Content Marketing Manager,14,None,None
14,Christina Mandrell[6][7],26,"Hendersonville, Tennessee",Content Creator,Week 3,15,[15]
15,Brianna Thorbourne[6][41],24,"Jersey City, New Jersey",Entrepreneur,16 (quit),None,None
16,Bailey Brown[6][42],27,"Brentwood, Tennessee",Executive Recruiter,17,None,None
17,"Catherine ""Cat"" Wong[6][8]",26,"Bushwick, New York",Professional Dancer,Week 2,18–20,[14]
18,Kimberly Gutierrez[43],30,"Stroudsburg, Pennsylvania",Hospitality Manager,None,None,None
19,Victoria Jameson[31][44],30,"Keller, Texas",Professional Makeup Artist,None,None,None
20,Becca Serrano[43],25,"Burbank, California",Nursing Student,Week 1,21–29,[45]
21,Cara Ammon[46],27,"McCandless, Pennsylvania",Corporate Recruiter,None,None,None
22,Holland Parsons[43],24,"Boca Raton, Florida",Insurance Marketer,None,None,None
23,Lekha Ravi[9][47],29,"Miami, Florida",Financial Advisor,None,None,None
24,Olivia Lewis[48],24,"Churchville, New York",Patient Care Technician,None,None,None
25,Olivia Miller[49],25,"Delphos, Ohio",Stylist,None,None,None
26,Sonia Sharma[50],29,"Jericho, New York",Project Manager,None,None,None
27,Vanessa Dinh[51],23,"Farmington Hills, Michigan",Restaurant Marketer,None,None,None
28,Viktoria Eichner[43],29,"Vienna, Austria[a]",Nanny,None,None,None
29,Madison Johnson[52],26,"Fargo, North Dakota",Business Owner,30,None,None

In [49]:
new_data.

AttributeError: 'list' object has no attribute 'info'

In [48]:

if new_data:  
    if "Winner" in [row['Outcome'] for row in new_data]:
        age = [row['Age'] for row in new_data]  # Replace `1` with the desired column index
        print(age)

KeyError: 'Outcome'

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [4]:
# Train model here.
# Don't forget to display the equation of the plane that best fits your data!

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [2]:
# Test model here.

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.